.root{
    color-rojo: #DE3C3C;
    color-rojo-hover: #C00000;
    color-amarillo: #F7B32D;
    color-amarillo-hover: #FF9500;
    color-blancoFondo:#F8F9FC;
    color-cafe: #88332A;
    color-gris: #C2C2C2;
}

.editarrecetas-background{
    -fx-background-image: url("../images/recetas/backgroundeditarreceta.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.editarrecetas-card{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30px;
}

.top-color{
    -fx-background-color: #DE3C3C;
}

.titulo-editarreceta{
    -fx-fill: #FFFFFF;
    -fx-font-family: Inter;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}

.subtitulos-editarreceta{
    -fx-font-size: 22px;
    -fx-font-family: Inter;
    -fx-font-weight: bold;
}

.texto-editarreceta{
    -fx-font-size: 20px;
    -fx-font-family: Inter;
}

.text-label{
    -fx-fill: black;
    -fx-font-size: 20px;
    -fx-font-family: Inter;
    -fx-font-weight: bold;
}

.asterisco-label{
    -fx-fill: #DE3C3C;
    -fx-font-size: 20px;
    -fx-font-family: Inter;
    -fx-font-weight: bold;
}

.input{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 50px;
    -fx-border-color: #C2C2C2;
    -fx-border-width: 1px;
    -fx-border-radius: 20px;
    -fx-font-size: 18px;
    -fx-font-family: Inter;
}

.input:focused {
    -fx-border-color: #DE3C3C;
    -fx-border-width: 1.5px;
}

.combo-box{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 5px;
    -fx-border-color: #C2C2C2;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-font-size: 18px;
    -fx-font-family: Inter;
}
.combo-box.list-view:hover{
    -fx-background-color: #DE3C3C;
    -fx-fill: #FFFFFF;
}

.text-area{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 5px;
    -fx-border-color: #C2C2C2;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-font-size: 16px;
    -fx-font-family: Inter;
}

.text-area:focused {
    -fx-border-color: #DE3C3C;
    -fx-border-width: 1.5px;
}

.btn-back{
    -fx-background-color: transparent;
    -fx-padding: 0;
}



.btn-imagen{
    -fx-font-size: 18px;
    -fx-font-family: Inter;
    -fx-background-color: #F7B32D;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}
.texto-imagen{
    -fx-font-size: 16px;
    -fx-font-family: Inter;
}


.categoria-desayuno {
    -fx-background-color: #F7B32D;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 18px;
    -fx-font-family: Inter;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
}
.categoria-desayuno:selected {
    -fx-background-color: #FF9500;
    -fx-effect: dropshadow(gaussian, #F7B32D, 10, 0.6, 0, 0);
}


.categoria-comida {
    -fx-background-color: #FE823B;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 18px;
    -fx-font-family: Inter;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
}
.categoria-comida:selected {
    -fx-background-color: #FF5E00;
    -fx-effect: dropshadow(gaussian, #FE823B, 10, 0.6, 0, 0);
}


.categoria-cena {
    -fx-background-color: #DE3C3C;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 18px;
    -fx-font-family: Inter;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
}
.categoria-cena:selected {
    -fx-background-color: #C00000;
    -fx-effect: dropshadow(gaussian, #DE3C3C, 10, 0.6, 0, 0);
}


.categoria-postre {
    -fx-background-color: #F72DC8;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 18px;
    -fx-font-family: Inter;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
}
.categoria-postre:selected {
    -fx-background-color: #b11d8f;
    -fx-effect: dropshadow(gaussian, #F72DC8, 10, 0.6, 0, 0);
}


.categoria-bebida {
    -fx-background-color: #2D5CF7;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 18px;
    -fx-font-family: Inter;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
}
.categoria-bebida:selected {
    -fx-background-color: #2346bc;
    -fx-effect: dropshadow(gaussian, #2D5CF7, 10, 0.6, 0, 0);
}


.categoria-vegetariano {
    -fx-background-color: #57EB22;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 18px;
    -fx-font-family: Inter;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
}
.categoria-vegetariano:selected {
    -fx-background-color: #43ba19;
    -fx-effect: dropshadow(gaussian, #57EB22, 10, 0.6, 0, 0);
}


.categoria-saludable {
    -fx-background-color: #22EBAF;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 18px;
    -fx-font-family: Inter;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
}
.categoria-saludable:selected {
    -fx-background-color: #0dbf8a;
    -fx-effect: dropshadow(gaussian, #22EBAF, 10, 0.6, 0, 0);
}


.categoria-internacional {
    -fx-background-color: #7D7D7D;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 18px;
    -fx-font-family: Inter;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
}
.categoria-internacional:selected {
    -fx-background-color: #8a8a8a;
    -fx-effect: dropshadow(gaussian, #656565, 10, 0.6, 0, 0);
}


.categoria-carne{
    -fx-background-color: #822F25;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 18px;
    -fx-font-family: Inter;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
}
.categoria-carne:selected{
    -fx-background-color: #591f18;
    -fx-effect: dropshadow(gaussian, #822F25, 10, 0.6, 0, 0);
}


.categoria-pescado{
    -fx-background-color: #00A2AD;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 18px;
    -fx-font-family: Inter;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
}
.categoria-pescado:selected{
    -fx-background-color: #006e75;
    -fx-effect: dropshadow(gaussian, #00A2AD, 10, 0.6, 0, 0);
}

.btn-guardar{
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-background-color: #DE3C3C;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 20px;
    -fx-font-family: Inter;
    -fx-font-weight: bold;
}

.btn-guardar:hover{
    -fx-background-color: #C00000;
}