.filtros-root {
    -fx-background-color: #FFF;
    -fx-effect: dropshadow(
            three-pass-box,
            rgba(0,0,0,0.2), 10, 0, 0, 0);
    -fx-padding: 15;
    -fx-background-radius: 10;
    -fx-max-width: 400;
}
.filtro-label {
    -fx-font-family: Inter;
    -fx-font-weight: bold;
    -fx-font-size: 27px;
}
.filtro-tiempo {
    -fx-font-family: Inter;
    -fx-font-size: 18px;
    -fx-border-color: #333;
    -fx-border-radius: 15;
    -fx-background-color: transparent;
}
.filtro-tiempo:selected {
    -fx-background-color: #fff;
    -fx-text-fill: #333;
}
.btn-limpiar{
    -fx-background-color: #DE3C3C;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-font-family: Inter;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

.btn-limpiar:hover{
    -fx-background-color: #C00000;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-font-family: Inter;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}
.categoria-desayuno {
    -fx-background-color: #F7B32D;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 18px;
    -fx-font-family: Inter;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
}
.categoria-desayuno:selected {
    -fx-background-color: #FF9500;
    -fx-effect: dropshadow(gaussian, #F7B32D, 10, 0.6, 0, 0);
}


.categoria-comida {
    -fx-background-color: #FE823B;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 18px;
    -fx-font-family: Inter;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
}
.categoria-comida:selected {
    -fx-background-color: #FF5E00;
    -fx-effect: dropshadow(gaussian, #FE823B, 10, 0.6, 0, 0);
}


.categoria-cena {
    -fx-background-color: #DE3C3C;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 18px;
    -fx-font-family: Inter;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
}
.categoria-cena:selected {
    -fx-background-color: #C00000;
    -fx-effect: dropshadow(gaussian, #DE3C3C, 10, 0.6, 0, 0);
}


.categoria-postre {
    -fx-background-color: #F72DC8;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 18px;
    -fx-font-family: Inter;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
}
.categoria-postre:selected {
    -fx-background-color: #b11d8f;
    -fx-effect: dropshadow(gaussian, #F72DC8, 10, 0.6, 0, 0);
}


.categoria-bebida {
    -fx-background-color: #2D5CF7;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 18px;
    -fx-font-family: Inter;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
}
.categoria-bebida:selected {
    -fx-background-color: #2346bc;
    -fx-effect: dropshadow(gaussian, #2D5CF7, 10, 0.6, 0, 0);
}


.categoria-vegetariano {
    -fx-background-color: #57EB22;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 18px;
    -fx-font-family: Inter;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
}
.categoria-vegetariano:selected {
    -fx-background-color: #43ba19;
    -fx-effect: dropshadow(gaussian, #57EB22, 10, 0.6, 0, 0);
}


.categoria-saludable {
    -fx-background-color: #22EBAF;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 18px;
    -fx-font-family: Inter;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
}
.categoria-saludable:selected {
    -fx-background-color: #0dbf8a;
    -fx-effect: dropshadow(gaussian, #22EBAF, 10, 0.6, 0, 0);
}


.categoria-internacional {
    -fx-background-color: #7D7D7D;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 18px;
    -fx-font-family: Inter;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
}
.categoria-internacional:selected {
    -fx-background-color: #8a8a8a;
    -fx-effect: dropshadow(gaussian, #656565, 10, 0.6, 0, 0);
}


.categoria-carne{
    -fx-background-color: #822F25;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 18px;
    -fx-font-family: Inter;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
}
.categoria-carne:selected{
    -fx-background-color: #591f18;
    -fx-effect: dropshadow(gaussian, #822F25, 10, 0.6, 0, 0);
}


.categoria-pescado{
    -fx-background-color: #00A2AD;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 18px;
    -fx-font-family: Inter;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
}
.categoria-pescado:selected{
    -fx-background-color: #006e75;
    -fx-effect: dropshadow(gaussian, #00A2AD, 10, 0.6, 0, 0);
}