.root{
    color-rojo: #DE3C3C;
    color-rojo-hover: #C00000;
    color-amarillo: #F7B32D;
    color-amarillo-hover: #FF9500;
    color-blancoFondo:#F8F9FC;
    color-cafe: #88332A;
    color-gris: #C2C2C2;
}

.registro-background {
    -fx-background-image: url("../images/registro/fondoregistro.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.register-card{
    -fx-background-color: #F8F9FC;
    -fx-background-radius: 30px;
}


.btn-back{
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.text-label{
    -fx-fill: black;
    -fx-font-size: 20px;
    -fx-font-family: Inter;
    -fx-font-weight: bold;
}

.asterisco-label{
    -fx-fill: #DE3C3C;
    -fx-font-size: 20px;
    -fx-font-family: Inter;
    -fx-font-weight: bold;
}

.input{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 50px;
    -fx-border-color: #C2C2C2;
    -fx-border-width: 1px;
    -fx-border-radius: 20px;
    -fx-font-size: 18px;
    -fx-font-family: Inter;
}

.input:focused {
    -fx-border-color: #DE3C3C;
    -fx-border-width: 1.5px;
}
